<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Game Over</h1>
    <h3> Play again?</h3>
    <form method="POST">
        <button name="play-again">Yes</button>
        <button name="exit-game">Exit</button>
        <button name="leaderboard">Leaderboard</button>
    </form>
    <h3>you scored</h3>
    <h3>{{ mark }}/15</h3>

</body>

</html>
