<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/styles.css' ) }} type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="row index-header-row">
            <div class="col-md-12 index-header">
                <h1>Riddle me this...</h1>
            </div>
            <!---username form----->
            <div class="col-md-12 index-form">
                <form method="POST">
                    <input type="text" placeholder="Enter a username" id="username" name="username" required/>
                    <button>Play</button>
                </form>
            </div>
        </div>
    </div>
</body>


</html>
