<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hi {{ username }} </h1>
    <h3> {{ data }}</h3>
    <form method="POST">
        <input type="text" placeholder="Your answer" name="answer">
        <button name="previous">Previous</button>
        <button id="check" name="check">Check</button>
        <button name="next">Next</button>
    </form>
    <h3>{{ correct }}</h3>
    
    
</body>
</html>